


    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">


        <link href="{{ asset('css/register.css') }}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>




        <div class="container">

      <div class="jumbotron">

{% block body -%}
    <h1>Edit</h1>

    {{ form(edit_form) }}

 {{ form(delete_form) }}


     <a class="btn btn-lg btn-success" href="{{ path('product') }}" role="button">Back to list</a></p>


{% endblock %}
