    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('css/register.css') }}" rel="stylesheet">

        <link href="{{ asset('css/login.css') }}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>




        <div class="container">

      <div class="jumbotron">

    <h1>Add product</h1>

    {{ form(form) }}

  <a class="btn btn-lg btn-success" href="{{ path('product') }}" role="button">Back to list</a></p>