<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Strona główna{% endblock %}</title>


    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">

</head>

<body>



 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('shop_sklep_homepage') }}">Mój sklep</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <form class="navbar-form navbar-right">

                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}


            <a href="{{ path('fos_user_security_login') }}" button type="submit" class="btn btn-success">Zaloguj</button></a>
            <a href="{{ path('fos_user_registration_register') }}" button type="submit" class="btn btn-danger">Zarejestruj</button>
            </a>


            {% endif %}


        
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        {% block jumbo %}
        {% endblock %}
      </div>
    </div>


    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
{% block body %}
         {# table body #}
{% for article in pagination %}
 <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="">
                            <div class="caption">
                                <h4 class="pull-right">{{ article.price }} PLN</h4>
                                <h4><a href="{{path('shop_sklep_item', {'id': article.id}) }}">{{ article.name }}</a>
                                </h4>
                                <p>{{ article.description }}</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{ article.id }}</p>
                                <p>
                                    <a href="{{path('shop_sklep_item', {'id': article.id}) }}"><button type="submit" class="btn btn-primary">Zobacz</button></a>
                                </p>
                            </div>
                        </div>
                    </div>
{% endfor %}
</table>
{% set direction = pagination.getDirection() %}
<th{% if pagination.isSorted('p.id') %} class="sorted {{ direction }}"{% endif %}>
    {{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}
</th>

{% endblock %}
                
                <hr>

                </ul> 

            </div>
      
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4></h4>

           
    {% block sidebar %}



    {{ render(url('shop_sklep_ask')) }}

    {% endblock %}
                     </div>



            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                        {% block footer %}

  footer

    {% endblock footer %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->


    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>


</body>

</html>
