
{% block body %}



{# total items count #}


{# table body #}
{% for article in pagination %}
 <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="upload/{{article.imagename}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right">{{ article.price }} PLN</h4>
                                <h4><a href="{{path('shop_sklep_item', {'id': article.id}) }}">{{ article.name }}</a>
                                </h4>
                                <p>{{ article.description }}</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{ article.id }}</p>
                                <p>
                                    <a href="{{path('shop_sklep_item', {'id': article.id}) }}"><button type="submit" class="btn btn-primary">Zobacz</button></a>
                                </p>
                            </div>
                        </div>
                    </div>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}
