
{% extends 'base.html.twig' %}



{% block body %}





{% for item in result %}
 <div class="thumbnail">
<img class="img-responsive" src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="">
<div class="caption-full">
<h4 class="pull-right">${{ item.price}}</h4>
<h4>{{ item.name}}</h4>
<p>{{ item.description}}</p>
</div>
</div>

<a href="{{ path('shop_sklep_homepage') }}"><button type="submit" class="btn btn-primary">Back</button></a>









{% endfor %}

{% endblock %}

{% block jumbo %}

{% for item in result %}
<h1>{{ item.name}}</h1>
{% endfor %}
{% endblock %}



